# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [55]:
import numpy as np
import pandas as pd
from statsmodels.stats import weightstats as stest
from statsmodels.stats import proportion
from scipy.stats import t
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
salaries = pd.read_csv("https://raw.githubusercontent.com/eduardoheros/lab-hypothesis-testing/master/Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

                  Name  ... Hourly Rate
0    AARON,  JEFFERY M  ...         NaN
1      AARON,  KARINA   ...         NaN
2  AARON,  KIMBERLEI R  ...         NaN
3  ABAD JR,  VICENTE M  ...         NaN
4    ABASCAL,  REECE E  ...       19.86

[5 rows x 8 columns]

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
salaries.Department.value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
hourly_rate=salaries[salaries["Hourly Rate"].notnull()]["Hourly Rate"]

In [8]:
ztest, pval = stest.ztest(hourly_rate,value=30,alternative="two-sided")

In [9]:
if pval<0.05:
  print("Null hypothesis is rejected")
else:
  print("Null hypothesis is not rejected")

Null hypothesis is rejected

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [10]:
police=salaries['Annual Salary'][salaries.Department=="POLICE"]
police=pd.to_numeric(police,errors="coerce").dropna()

In [11]:
ztest, pval = stest.ztest(police,value=86000,alternative="larger")

In [12]:
if pval<0.05:
  print("Null hypothesis is rejected")
else:
  print("Null hypothesis is not rejected")

Null hypothesis is rejected

Using the `crosstab` function, find the department that has the most hourly workers.

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [13]:
police=pd.crosstab(salaries.Department,salaries['Salary or Hourly'])["Hourly"].sort_values(ascending=False)
police[0:1]

Department
STREETS & SAN    1862
Name: Hourly, dtype: int64

In [14]:
hourly_rate=salaries[(salaries.Department=="STREETS & SAN")&(salaries['Hourly Rate'].notnull())]["Hourly Rate"]
ztest, pval = stest.ztest(hourly_rate,value=35,alternative="smaller")

In [15]:
if pval<0.05:
  print("Null hypothesis is rejected")
else:
  print("Null hypothesis is not rejected")

Null hypothesis is rejected

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [38]:
sample=salaries["Hourly Rate"].dropna()
sample_mean=sample.mean()
sample_standard_error = sem(sample)
degrees_freedom = len(sample) - 1
t.interval(0.95,degrees_freedom,sample_mean,sample_standard_error)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [45]:
sample=salaries[(salaries.Department=="POLICE")&(salaries['Salary or Hourly']=="Salary")]["Annual Salary"]
sample_mean=sample.mean()
sample_standard_error = sem(sample)
degrees_freedom = len(sample) - 1
t.interval(0.95,degrees_freedom,sample_mean,sample_standard_error)

(86177.05631531784, 86795.77269094894)

In [52]:
#Utilizando Statsmodels
stest.zconfint(sample, alpha=0.95, alternative='two-sided', usevar='pooled')

(86476.51783996992, 86496.31116629686)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [53]:
# Your code here:
proportion.proportions_ztest

AttributeError: ignored